.myBtn {
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
    position: relative;
    display: flex;
}

@media (max-width: 450px) {
    .myBtn {
        padding: 5px 10px;
        color: teal;
        font-size: 10px;
        background: transparent;
        border: 1px solid teal;
        cursor: pointer;
        position: relative;
        display: flex;
    }
}