.myBtn {
    padding: 5px 15px;
    color: white;
    font-size: 24px;
    background: transparent;
    cursor: pointer;
    position: relative;
    display: flex;
    border: none;
}

@media (max-width: 450px) {
    .myBtn {
        padding: 5px 10px;
        color: white;
        font-size: 24px;
        background: transparent;
        cursor: pointer;
        position: relative;
        display: flex;
    }
}