
.myMenu {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    flex-direction: column;
    div {
        
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: 50px;
            max-height: 50px;
            min-width: 50px;
            min-height: 50px;
    }

    }
    
}
    
    

