.menuBtn {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.myMenu {
    display: none;
    margin-left: 50%;
    justify-content: center;
    justify-items: center;
}

.myMenu.active {
    display:block
}

