.menuBtn {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 20px 0;
}
.myMenu {
    display: none;
    margin-left: 50%;
    justify-content: center;
    justify-items: center;
    min-height: 200px;
}

.myMenu.active {
    display:block
}

