
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  
}

body{
  margin-bottom: 150px;
  font-family: "Instrument Sans", sans-serif;
  background: -webkit-linear-gradient(160deg, #69B8BB 0%, #42779E 70%);
}


#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 367px;
  position: relative;
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 100;
  
}

.navbar__link {
  margin: 5px;
}

.navbar {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  background: lightgray;
  width: 100%;
  font-family: "Instrument Sans", sans-serif;
}

.navbar__links {
  display: flex;
  position: relative;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

footer {
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  align-content: center;
  background: lightgray;
}




.pr__list {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
}

.project {
  position: relative;
  width: 100%;
  border: 1px solid teal;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 10px;
}

.tech__list {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.tech{
  position: relative;
  box-sizing: border-box;
  display: grid;
  width: calc(100% - 20px);
  justify-items: auto;
  margin: 0 20 0 20;
  border-radius: 10px;
}

.tech__content img{
  max-width: 40px;
  max-height: 40px;  
  margin-right: 10px;
}

.tech__title {
  min-width: 75px; 
  box-sizing: border-box;
  justify-content: flex-start;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 600;
}

.tech__content {
  display: flex;
  position: relative;
  font-size: 18px;
  box-sizing: border-box;
  border: 1px solid teal;
  border-collapse: collapse;
  margin-top: 20px;
  padding: 10px;
  justify-content: space-around; 
  align-items: center;
  
}

.tech__body {
  position: sticky;
  margin-left: 10px;
  margin-right: 20px; 
  display: flex; 
  flex-grow: 1; 
  word-break: break-all;
}



@media (max-width: 810px) {
  
  .tech{
    position: relative;
    box-sizing: border-box;
    display: grid;
    width: calc(100% - 20px);
    box-sizing: border-box;
  }
  .navbar {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightgray;
    width: 100%;
  }
  .tech__content {
    display: flex;
    position: relative;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid teal;
    border-collapse: collapse;
    margin-top: 20px;
    padding: 10px;
    justify-content: space-around; 
    align-items: center;
  }
  .tech__content img{
    max-width: 30px;
    max-height: 30px;  
    margin-right: 5px;
  }
  .tech__body {
    position: sticky;
    margin-left: 10px;
    margin-right: 20px; 
    display: flex; 
    flex-grow: 1; 
    word-break: break-all;
    
  }
  

}

@media (max-width: 490px) {
  .project {
    position: relative;
    width: 100%;
    border: 1px solid teal;
    margin-bottom: 15px;
    padding: 5px;
  }
  .project__content {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .tech{
    position: relative;
    box-sizing: border-box;
    display: grid;
    width: calc(100% - 20px);
    justify-content: start;
  }
  .navbar {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightgray;
    width: 100%;
  }
  .tech__body{
    font-size: 12px;
  }
  .tech__content {
    display: flex;
    position: relative;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid teal;
    border-collapse: collapse;
    margin-top: 20px;
    padding: 10px;
    justify-content: space-around; 
    align-items: center;
    font-size: 8px;
  }
  .tech__content img{
    max-width: 25px;
    max-height: 25px;  
    margin-right: 5px;
  }
  .tech__title {
    font-size: 10px;
    justify-content: flex-start;
    margin-right: 10px;
    font-size: medium;
  }
}

