/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  height: 50px;
  width: 100vw;
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: lightgray;
}

.navbar__links {
  
}


.tech{
  position: relative;
  box-sizing: border-box;
  display: grid;
  width: 700px;
  justify-items: auto;
}

@media (max-width: 420px) {
  .tech{
    position: relative;
    box-sizing: border-box;
    display: grid;
    width: 370px;
    justify-content: start;
  }
  .navbar {
    height: 50px;
    width: 100vw;
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightgray;
  }
  .tech__content {
    display: flex;
    position: relative;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px solid teal;
    border-collapse: collapse;
    margin-top: 20px;
    padding: 10px;
    justify-content: space-around; 
    align-items: center;
    
  }
  .tech__content img{
    max-width: 20px;
    max-height: 20px;  
    margin-right: 5px;
  }
  .project {
    width: 370px;
  }
}
.tech__content img{
  max-width: 40px;
  max-height: 40px;  
  margin-right: 10px;
}

.tech__title {
  display: 'inline-block';
  min-width: 75px; 
  box-sizing: border-box;
  justify-content: flex-start;
  margin-right: 10px;
}

.tech__content {
  display: flex;
  position: relative;
  font-size: 18px;
  box-sizing: border-box;
  border: 1px solid teal;
  border-collapse: collapse;
  margin-top: 20px;
  padding: 10px;
  justify-content: space-around; 
  align-items: center;
  
}

.tech__body {
  position: sticky;
  margin-left: 10px;
  margin-right: 20px; /* Добавьте отступ справа */
  display: flex; /* Измените на flex */
  flex-grow: 1; /* Позволяет элементу занимать доступное пространство */
  word-break: break-all;
}

